@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #edf2f8;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid purple;
}
header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.all-cards {
  display: grid;
  gap: 1.5rem;

  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  padding: 30px;

  border-radius: 10px;
}

.card-header h3 {
  font-size: 1rem;
}
.first-p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}
.second-p {
  font-size: 15px;

  font-weight: 500;
  line-height: 1.4;
  opacity: 70%;
}
.card-header p {
  opacity: 50%;
}
header div {
  padding-left: 0.5rem;
}

.card-purple {
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
  color: #fff;
}

.card-grey {
  background: hsl(217, 19%, 35%);
  color: #fff;
}
.card-blueblack {
  background: hsl(219, 29%, 14%);
  color: #fff;
}

.attribution {
  text-align: center;
}

@media (min-width: 50rem) {
  .all-cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .span-2 {
    grid-column: span 2;
  }

  .red {
    grid-column: 4;
    grid-row: 1;
    grid-row-end: 3;
  }
}
